#bannerBox{
    width:100%;
    height:400px;
    margin: 0 auto;
}
#bannerImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body{
    background-color: #F8FAFB;
}

.content-body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}
.content-full {
    width: 100%;
    max-width: 900px;
    min-height: 800px; /* 최소 높이를 800px로 설정 */
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 40px 40px 40px;
}
.join-container {
    display: flex;
    flex-direction: column;
}
.menu-container {
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: 0 auto; /* 중앙으로 보내기 위한 마진 설정 */
    max-width: 300px; /* 중앙정렬을 더 명확하게 하기 위한 너비 설정 */
}
.menu-title-name {
    font-size: 24px;
    font-weight: bold;
    display: flex; /* 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 100%;
    white-space: nowrap; /* 텍스트가 한 줄로 유지되게 함 */

}
.menu-desc p {
    margin: 5px 0; /* 문단 사이의 간격을 줄임 */
}
.team-container {
    margin: 20px 30px;
}
.team-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.team-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; /* 밑에 보더라인 추가 */
    padding:30px 30px 20px 50px;
    margin:0px 30px 20px 0px;


}
.team-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    flex-grow: 1;
}
.team-emblem {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.team-content {
    display: flex;
    flex-direction: column;


}
.team-name-box {
    font-size: 16px;
    font-weight: bold;
}
.join-check-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    margin-right:20px;

}
.custom-button {
    background-color: #ccff00; /* 네온색 코드 */
    color: black; /* 텍스트 색상 */
    border: none; /* 테두리 없앰 */
    padding: 12px 17px; /* 패딩 설정 */
    font-size: 16px; /* 글자 크기 */
    border-radius: 10px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
    text-align: center;
}
.custom-button:hover {
    background-color: #b3e600; /* 마우스 오버 시 색상 변경 */
}

.team_status {
    font-size: 14px;
    font-weight: 500;
    margin-left:30px;
}
.team__request {
    font-size: 16px;
}
.profileBox{
    width: 81px;
    height: 81px;
    border-radius: 200px;
    margin-right: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.profileImg{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
}

.menu-title {
    display: flex; /* 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}
.info-name-wrapper {
    display: flex;
    align-items: center;
}
.info-desc span {
    font-size: 14px;
    color: #9eaab3;
      margin:0 ;
}

.info-name {
    font-size: 16px;
    font-weight: 500;
}

.info-time {
    font-size: 13px;
    margin-left: 5px;
    color: #727f88;
}
.info-desc {
    font-size: 12px;
    color: #9eaab3;
}

.modal-content {
  border-radius: 15px; /* 모달창 둥글게 */
  border: none; /* 보더라인 제거 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
}
.modal-header {
  border-bottom: none; /* 보더 바텀라인 제거 */
}
.modal-footer {
  border-top: none; /* 보더 탑라인 제거 */
}
.modal-body {
  text-align: center;
  font-size: 16px;
}
.modal-footer button {
  width: 100%;
  background-color: #ff4d4d; /* 빨간색 배경 */
  color: white;
  border-radius: 8px;
  padding: 10px 0;
  border: none;
  font-size: 16px;
}
.modal-footer button:hover {
  background-color: #ff3333; /* hover 시 색상 변경 */
}


.modal-subtitle {
  font-size: 15px; /* 작은 폰트 크기 */
  color: #6c757d; /* 회색 텍스트 */
}
.text-wrapper {
  color: #333;
  font-size: 16px;
  line-height: 26px;
  overflow: hidden;
  font-family: inherit !important;
  white-space: pre-wrap; /* 공백 및 줄바꿈을 유지하면서 긴 단어는 줄바꿈 처리 */
  overflow-wrap: break-word; /* 긴 단어를 자동으로 줄바꿈 */
}
.modal-body {
    padding: 20px; /* 내부에 여유 공간을 줍니다 */
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin: 20px;
}

.form-check-input {
    margin-right: 10px; /* 체크박스와 레이블 간의 간격 */
}

.form-check-label {
    font-size: 16px; /* 레이블의 글씨 크기를 키워서 더 깔끔하게 보이도록 설정 */
}

.custom-textarea {
    width: 100%;         /* 너비를 100%로 설정 */
    height: 220px;       /* 적당한 높이 설정 */
    border: 1px solid #ddd; /* 얇은 테두리 */
    background-color: #f8f9fa; /* 배경색 */
    padding: 10px;
    font-size: 16px;
    resize: none;        /* 크기 조절 비활성화 */
    outline: none;       /* 포커스 시 외곽선 제거 */
    border-radius: 5px;  /* 모서리 둥글게 */
}

.modal-content {
    min-height: 40vh; /* 최소 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    border-radius: 10px; /* 테두리 둥글게 설정 */
    max-width: 450px; /* 최대 너비 500px */
    margin: auto; /* 모달을 중앙에 위치 */
}

.modal-dialog {
    max-width: 500px; /* 모달의 최대 너비 */
    margin: 30px auto; /* 화면 가운데에 위치 */
}

.modal-body {
    background-color: white;
    min-height:200px;
    text-align: left;
}

.modal-header {
    border-bottom: none; /* 헤더의 하단 경계선 제거 */
    margin-left:5px;
}

.modal-footer {
    padding: 15px; /* 푸터 패딩 조정 */
    display: flex;
    justify-content: space-between;
}

.modal-footer button {
    width: 48%; /* 버튼의 너비를 48%로 설정하여 두 버튼이 균등하게 배치되도록 설정 */
}

.left_img{
   cursor: pointer;
   margin-left:60px;
   margin-top:15px;
}
