* {
    animation: none !important;
}

#bannerBox{
    width:100%;
    height:400px;
    margin: 0 auto;
}
#bannerImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body{
    background-color: #F8FAFB;
}
.content-body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}
.content-full {
    width: 100%;
    max-width: 900px;
    min-height: 800px; /* 최소 높이를 800px로 설정 */
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
}
.join-container {
    display: flex;
    flex-direction: column;
}
.menu-container {
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: 0 auto; /* 중앙으로 보내기 위한 마진 설정 */
    max-width: 300px; /* 중앙정렬을 더 명확하게 하기 위한 너비 설정 */
}
.menu-title-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex; /* 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */

}
.menu-desc p {
    margin: 5px 0; /* 문단 사이의 간격을 줄임 */
}
.team-container {
    margin: 20px 40px;
}
.team-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.team-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; /* 밑에 보더라인 추가 */
    padding:30px 30px 20px 50px;
    margin:0px 30px 30px 0px;


}
.team-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    flex-grow: 1;
}
.team-emblem {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.team-content {
    display: flex;
    flex-direction: column;


}
.team-name-box {
    font-size: 16px;
    font-weight: bold;
}
.join-check-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    margin-right:20px;

}
.custom-button {
    background-color: #ccff00; /* 네온색 코드 */
    color: black; /* 텍스트 색상 */
    border: none; /* 테두리 없앰 */
    padding: 12px 17px; /* 패딩 설정 */
    font-size: 16px; /* 글자 크기 */
    border-radius: 10px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
    text-align: center;
}
.custom-button:hover {
    background-color: #b3e600; /* 마우스 오버 시 색상 변경 */
}

.team_status {
    font-size: 14px;
    font-weight: 500;
    margin-left:30px;
}
.team__request {
    color: #0d6efd;
    font-size: 16px;
}
.profileBox{
    width: 63px;
    height: 63px;
    border-radius: 200px;
    margin-right: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.profileImg{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
}

.menu-title {
    display: flex; /* 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}
.info-name-wrapper {
    display: flex;
    align-items: center;
}
.info-desc span {
    font-size: 14px;
    color: #9eaab3;
      margin:0 ;
}

.info-name {
    font-size: 16px;
    font-weight: 500;
}

.info-time {
    font-size: 13px;
    margin-left: 5px;
    color: #727f88;
}
.info-desc {
    font-size: 12px;
    color: #9eaab3;
}

.modal-content {
  border-radius: 15px; /* 모달창 둥글게 */
  border: none; /* 보더라인 제거 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
}
.modal-header {
  border-bottom: none; /* 보더 바텀라인 제거 */
}
.modal-footer {
  border-top: none; /* 보더 탑라인 제거 */
}
.modal-body {
  text-align: center;
  font-size: 16px;
}
.modal-footer button {
  width: 90%;
  background-color: #ff4d4d; /* 빨간색 배경 */
  color: white;
  border-radius: 8px;
  padding: 10px 0;
  border: none;
  margin-right:20px;
  font-size: 16px;
}
.modal-footer button:hover {
  background-color: #ff3333; /* hover 시 색상 변경 */
}


.modal-subtitle {
  font-size: 15px; /* 작은 폰트 크기 */
  color: #6c757d; /* 회색 텍스트 */
}
.text-wrapper {
  color: #333;
  font-size: 16px;
  line-height: 26px;
  overflow: hidden;
  font-family: inherit !important;
  white-space: pre-wrap; /* 공백 및 줄바꿈을 유지하면서 긴 단어는 줄바꿈 처리 */
  overflow-wrap: break-word; /* 긴 단어를 자동으로 줄바꿈 */
}

rejected_list{
padding:20px;

}
.rejected_title{
    text-align:center;
    background-color: #e8f7ff;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #1570ff;
    padding: 8px;
}
.rejected_text{
  text-align:center;
  padding: 5px;
}


