    body{
        background-color: #F8FAFB;
    }
    #bannerBox{
        width:100%;
        height:200px;
        margin: 0 auto;
    }
    #bannerImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content_body{
        display: flex;
        flex-direction: row;
        max-width: 1024px;
        margin: 0 auto;
    }
    .content_left{
        position: relative;
        width: 60%;
        margin-right: 20px;
        background-color: white;
        height: 900px;
        margin-top: 20px;
        border-radius: 10px 10px 0 0 ;
    }
    .content_right{
        width: 100%;
    }
    .section1{
        background-color: white;
        height: 550px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .section2{
        background-color: white;
        height: 340px;
        border-radius: 10px 10px 0 0 ;
    }
    .section_nav{
        padding-top: 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
    }
    .section_nav ul, .section_nav li{
        list-style: none;
        text-decoration: none;
        float: left;

    }
    .section_nav li{
        margin-right: 15px;
        color: #6c757d;
    }
    .section_title{
            padding: 20px;
            padding-top: 30px;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            margin-top: 20px;
            margin-left: 10px;
        }
    .menu_list{
        list-style: none;
    }
    .menu_list li{
        font-size: 18px;
        list-style: none;
    }
    .menu_list li a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        cursor: pointer;
        align-items: center;
    }
    .menu_list li a:link, .menu_list li a:visited{
        list-style: none;
        text-decoration: none;
        color: #121212;
    }
    .menu_list li a:hover{
        font-weight: 500;
        color: #121212;
    }
    .list_container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .icons{
        font-size: 25px;
        margin: 0;
    }
    .list_title{
        margin-left: 15px;
    }
    .section3{
        padding: 20px;
    }
    .profile_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .imgContainer{
        width: 80px;
        height: 80px;
        border-radius: 200px;
        margin-top: 10px;
        margin-right: 40px;
    }
    .imgContainer>img:first-child{
        width: 100%;
        height: 100%;
        border-radius: 200px;
        object-fit: cover;
    }
    .mystatus{
        padding-top: 20px;
        width: 100%;
        margin-top: 20px;
    }
    .status_items:first-child{
        float: left;
        margin-right: 20px;
        margin-left: 5px;
    }
    .status_items{
        width: 45%;
        background-color: #F8FAFB;
        border-radius: 10px;
        float: left;
        list-style: none;
    }
    .status_label{
        padding-left: 20px;
    }
    .status_label>p:first-child{
        font-weight: 700;
    }
    .statis{
        margin-top: 150px;
    }
    .names{
        margin-left: 10px;
    }
    .crew_infos{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .crew_imogi{
        font-size: 15pt;
        margin-right: 5px;
    }
    .crew_addr{
        font-weight: 500;
        font-size: 13pt;
    }
    .crew_addr2{
        margin-left: auto;
        max-width: 60%;
        white-space: nowrap;
        font-size: 13pt;
        color: tomato;
    }
    .info_body{
        padding: 30px;
    }
    #editCrewBtn{
        margin-top: 20px;
        background-color: white;
        border-radius: 3px;
        margin-left: 8px;
        border: 1px solid lightgrey;
         width: 100px;
          height:20px;
    }

  /* 프로필 이미지 */
 .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }

  .member{
    margin:10px 10px;

  }

  /* 기본 스타일 */
  .member-list {
    list-style: none; /* li의 기본 점 제거 */
    margin: 0;
    padding:0;
  }


  .item-flex {
    display: flex; /* 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /* 좌우 요소 간 여백 자동 */
    width: 90%; /* 부모 요소의 전체 너비 사용 */
    padding: 10px 30px;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .profile-info {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    margin-left: 10px;
  }

  .info-wrapper {
    display: flex;
    align-items: center;
  }

  .name {
    margin-right: 10px; /* "장재성" 오른쪽에 공간 */
    font-size: 16px;
    font-weight: bold;
  }

  /* 운영진 스타일 */
  .label-operator {
    background-color: black; /* 검정 배경 */
    color: white; /* 흰색 텍스트 */
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
  }

  /* 루키 표시 */
  .desc {
    font-size: 12px;
    color: #6c757d; /* 회색 텍스트 */
    margin-top: 2px; /* 루키 표시 위에 약간의 간격 */
  }

  .menu {
    margin-left: auto; /* more-icon을 오른쪽으로 밀기 */
  }

  /* 세로 3개 점 more-icon */
  .more-icon {
    font-size: 20px; /* 아이콘 크기 */
    cursor: pointer;
    display: inline-block;
  }