footer{
    background: url(/img/푸터배경.png) no-repeat center;
    background-size: cover;
    width: 100%;
    padding:0;
    margin:0;
    text-align: center;
    height: 300px;
}

.footer-message{
    font-weight: bold;
    font-size:12pt;
    color:white;
}
.footer-contact{
    font-size:12pt;
    color:white;
    margin:0.6rem;
}
.footer-copyright{
    font-size:12pt;
    color:white;
    margin:0.6rem;
}