footer{
    background: url(/img/푸터배경.png) no-repeat center;
    background-size: cover;
    width: 100%;
    padding:0;
    margin:0;
    text-align: center;
    height: 300px;
}

.footer-message{
    font-weight: bold;
    font-size:12pt;
    color:white;
}
.footer-contact{
    font-size:12pt;
    color:white;
    margin:0.6rem;
}
.footer-copyright{
    font-size:12pt;
    color:white;
    margin:0.6rem;
}

/*채팅하기 버튼*/
#chatButton {
    position: fixed; /* 버튼을 푸터 내에서 고정된 위치에 배치 */
    bottom: 0px;    /* 푸터 위쪽 100px에 고정 */
    right: 0px; /* 푸터 오른쪽에서 20px 왼쪽으로 */
    background-color: #CCFF47;/* 버튼 배경색 */
    color: black; /* 버튼 텍스트 색 */
    padding: 10px 20px; /* 버튼 내부 여백 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 마우스를 올리면 커서 변경 */
    font-size: 16px; /* 버튼 텍스트 크기 */
    border-radius: 5px; /* 버튼 둥글게 */
    z-index: 9999;    /* 다른 요소보다 위에 표시되도록 */
    font-weight: bold;
    width: 115px;
}
/* 채팅 리스트 전체 스타일 */
#chatList {

    height: 600px;
    width: 400px;
    background-color: #1e1e1e;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    bottom: 50px; /* 화면 하단에서 20px 띄움 */
    right: 90px; /* 화면 오른쪽에서 20px 띄움 */
    max-height: 600px; /* 원하는 고정된 높이로 변경 */
    overflow-y: auto; /* 넘칠 경우 스크롤 표시 */
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    flex-grow: 1; /* 채팅 메시지가 입력창을 밀어내도록 */
}
#chatList::-webkit-scrollbar {
    width: 6px;

}
#chatList::-webkit-scrollbar-thumb {
    background-color: #fcf6f6; /* 스크롤바 색상 */
    border-radius: 10px;
}
#chatList::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
/* 리스트 숨김 처리 */
.hidden {
    display: none;
}

/* 텍스트와 날짜를 담는 컨테이너 */
.chat-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* 개별 채팅 항목 */
.chat-item {
    display: flex;
    justify-content: space-between; /* 날짜를 오른쪽에 배치하기 위해 사용 */
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #292929;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 색이 부드럽게 변하게 함 */
    position: relative;
    z-index: 10; /* 다른 요소보다 위에 있도록 설정 */
}
.chat-item:hover {
    background-color: #424242; /* 마우스를 올렸을 때 색상 변경 */
}

.chat-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #333;;
}
/* 날짜 스타일 */
.chat-date {
    font-size: 12px;
    color: gray; /* 날짜를 살짝 흐리게 표시 */
}

.chat-text {
    color: white;
    font-size: 16px;
}




