<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.dao.AxiosApiDAO">
    <select id="getTokenVO" resultType="com.ict.finalproject.vo.AxiosApiVO">
        select usercode ,deleted_date from tokentbl where refresh_no=#{param1}
    </select>
    <select id="getUserVO" resultType="com.ict.finalproject.vo.MemberVO">
        select username,role from user_tbl where usercode = #{param1}

    </select>


</mapper>
