<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.dao.ChatDAO">
    <insert id="insertMessage" parameterType="com.ict.finalproject.vo.MessageVO" useGeneratedKeys="true" keyProperty="message_code">
        INSERT INTO message_tbl (content, add_date, usercode, recipient, nickname)
        VALUES (#{content}, #{add_date}, #{usercode}, #{recipient}, #{nickname})
    </insert>

    <select id="selectMessagesByRoomCode" resultType="com.ict.finalproject.vo.MessageVO">
        SELECT *
        FROM message_tbl
        WHERE recipient = #{match_yn}
        ORDER BY add_date ASC
    </select>
    <insert id="insertReport" parameterType="com.ict.finalproject.vo.ReportVO"  useGeneratedKeys="true" keyProperty="report_code" keyColumn="report_code">
        insert into report_tbl
        (offender_code, report_reason, victim_code, matching_room_code, report_content, proof_img)
        values(#{offender_code}, #{report_reason}, #{victim_code}, #{matching_room_code}, #{report_content}, #{proof_img})
    </insert>

    <select id="getUserCountByCode" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM user_tbl WHERE usercode = #{userCode}
    </select>
</mapper>
