<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.dao.ChatDAO">
    <!-- 메시지 삽입 -->
    <insert id="insertMessage" parameterType="com.ict.finalproject.vo.MessageVO">
        INSERT INTO message_tbl (content, add_date, usercode, recipient)
        VALUES (#{content}, NOW(), #{usercode}, #{recipient})
    </insert>

    <!-- 특정 사용자가 받은 메시지 조회 (또는 전체 채팅 메시지) -->
    <select id="selectMessages" parameterType="String" resultType="com.ict.finalproject.vo.MessageVO">
        SELECT message_code, content, add_date, usercode, recipient
        FROM message_tbl
        WHERE recipient = #{recipient} OR recipient = 'all'
        ORDER BY add_date ASC
    </select>



</mapper>
