<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.dao.CrewDAO">

    <select id="usercodeSelect" resultType="int">
        SELECT IFNULL(
        (SELECT usercode
        FROM user_tbl
        WHERE username = '${param1}'
        ), 0) AS usercode;
    </select>

    <select id="crew_teamEmblem" resultType="String">
        select logo
        from   create_crew_tbl
        where  create_crew_code = '${param1}'
    </select>

    <select id="crew_teamPhoto" resultType="String">
        select teamPhoto
        from   crew_write
        where  crew_write_code = '${param1}'
    </select>

    <update id="crew_write_hit_update">
        update crew_write
        set
        hits=hits+1
        where create_crew_code = ${param1}
    </update>

    <select id="totalRecord" resultType="int">
        select count(*)
        from create_crew_tbl a
        join crew_write b on a.create_crew_code = b.create_crew_code
        where b.is_delete = 0
    </select>

    <select id="crew_name_check" resultType="int">
        select count(1)
        from  create_crew_tbl
        where crew_name = '${param1}'
    </select>

    <select id="crew_name_double_check" resultType="int">
        select count(1)
        from create_crew_tbl
        where crew_name = '${param1}'
        and create_crew_code != ${param2}

    </select>

    <select id="crew_page_select" resultType="com.ict.finalproject.vo.CrewVO">
        select a.create_crew_code,a.crew_name,a.logo,${param1} as usercode,b.position as b_n,
        ifnull((select crew_write_code
        from    crew_write
        where   create_crew_code = b.create_crew_code
        and     is_delete = 0
        limit 1),0) as a_n
        from   create_crew_tbl a, crew_member_tbl b
        where  b.usercode = ${param1}
        and    a.create_crew_code=b.create_crew_code
    </select>

    <select id="vote_detail" resultType="com.ict.finalproject.vo.CrewVO">
        select subject,enddate,opt1,opt2,opt3,opt4,opt5
        from vote_tbl
        where vote_code = ${param1}
    </select>

    <select id="search_crewList" resultType="com.ict.finalproject.vo.CrewVO">
        select a.create_crew_code ,a.crew_name, a.logo, concat(a.addr,' ',a.addr_gu) as addr, b.gender, b.hits, b.age, b.content,b.crew_write_code
        ,(select count(1) from crew_member_tbl where create_crew_code = a.create_crew_code) as num
        ,(select count(1) from crew_request_tbl where create_crew_code = a.create_crew_code and status = 0) as a_n
        from create_crew_tbl a, crew_write b
        where b.is_delete = 0
        and a.create_crew_code = b.create_crew_code
        and b.gender like ifnull(concat('%', '${param3}', '%'), '%')
        and b.age like ifnull(concat('%', '${param4}', '%'), '%')
        and concat(a.addr,' ',a.addr_gu) like ifnull(concat('%', '${param5}', '%'), '%')
        and concat(a.addr,' ',a.addr_gu) like ifnull(concat('%', '${param6}', '%'), '%')
        and instr(concat(concat(a.addr,' ',a.addr_gu), '@', b.age, '@', b.gender, '@', b.content, '@', a.crew_name), ifnull('${param7}', '')) > 0
        group by a.create_crew_code, a.crew_name, a.logo, concat(a.addr,' ',a.addr_gu), b.gender, b.hits, b.age, b.content, b.writedate, a.create_crew_code,b.crew_write_code
        order by ${param2} desc
        limit 5 offset ${param1}
    </select>
    <select id="getTotalRecord" resultType="int">
        select count(*)
        from create_crew_tbl a
        join crew_write b on a.create_crew_code = b.create_crew_code
        where b.is_delete = 0
        and b.gender like ifnull(concat('%', #{gender}, '%'), '%')
        and b.age like ifnull(concat('%', #{age}, '%'), '%')
        and concat(a.addr, ' ', a.addr_gu) like ifnull(concat('%', #{addr}, '%'), '%')
        and concat(a.addr, ' ', a.addr_gu) like ifnull(concat('%', #{addr_gu}, '%'), '%')
        and instr(concat(concat(a.addr, ' ', a.addr_gu), '@', b.age, '@', b.gender, '@', b.content, '@', a.crew_name), ifnull(#{searchWord}, '')) > 0
    </select>
    <select id="crewSelectPaging" resultType="com.ict.finalproject.vo.CrewVO">
        select a.create_crew_code ,a.crew_name, a.logo, concat(a.addr,' ',a.addr_gu) as addr, b.gender, b.hits, b.age, b.content,b.crew_write_code
        ,(select count(1) from crew_member_tbl where create_crew_code = a.create_crew_code) as num
        ,(select count(1) from crew_request_tbl where create_crew_code=a.create_crew_code) as a_n
        from  create_crew_tbl a, crew_write b
        where b.is_delete = 0
        and   a.create_crew_code = b.create_crew_code
        group by a.create_crew_code ,a.crew_name, a.logo,concat(a.addr,' ',a.addr_gu), b.gender, b.hits, b.age, b.content, b.writedate ,a.create_crew_code,b.crew_write_code
        order by b.writedate desc
        limit 5 offset #{offset}
    </select>

    <insert id="crew_insert">
        insert into create_crew_tbl
        (
        crew_name
        ,logo
        ,addr
        ,addr_gu
        ,gender
        ,content
        ,age
        ,usercode
        )
        values
        (
        '${param1}'
        ,'${param2}'
        ,'${param3}'
        ,'${param4}'
        ,'${param5}'
        ,'${param6}'
        ,'${param7}'
        ,${param8}
        );
    </insert>
    <insert id="crew_write_add">
        insert into crew_write
        (
        create_crew_code
        ,usercode
        ,teamPhoto
        ,age
        ,gender
        ,content
        ,writedate
        ,hits
        )
        values
        (
        ${param1}
        ,${param2}
        ,'${param3}'
        ,'${param4}'
        ,'${param5}'
        ,'${param6}'
        ,now()
        ,0
        );
    </insert>
    <insert id="createNotice">
        insert into crew_notice_tbl
        (
        subject
        ,content
        ,usercode
        ,create_crew_code
        ,writedate
        ,updated_date
        )
        values
        (
        '${param1}'
        ,'${param2}'
        , ${param3}
        ,${param4}
        ,now()
        ,now()
        );
    </insert>
    <select id="crew_write_detail_select" resultType="com.ict.finalproject.vo.CrewVO">
        WITH RankedScores AS (
        SELECT
        create_crew_code,
        SUM(score_change) AS total_score,
        RANK() OVER (ORDER BY SUM(score_change) DESC) AS `crew_rank`
        FROM
        record_tbl
        WHERE
        create_crew_code IS NOT NULL
        GROUP BY
        create_crew_code
        )
        SELECT
        a.logo,
        a.crew_name,
        a.usercode,
        CONCAT(a.gender, ' · ', a.age) AS a_s,
        b.teamPhoto AS b_s,
        b.age,
        b.gender,
        b.content,
        b.hits,
        DATE_FORMAT(b.writedate, '%Y.%m.%d %H:%i') AS writedate,
        CONCAT(a.addr, ' ', a.addr_gu) AS addr,
        DATE_FORMAT(a.writedate, '%Y-%m-%d') AS c_s,
        ${param1} AS b_n,
        (SELECT CASE WHEN COUNT(1) > 0 THEN 1 ELSE 0 END FROM crew_request_tbl WHERE create_crew_code = a.create_crew_code AND usercode = ${param1}) AS c_n,
        (SELECT COUNT(1) FROM crew_member_tbl WHERE create_crew_code=${param2}) AS d_n,
        (SELECT AVG(FLOOR(DATEDIFF(CURDATE(), birthdate) / 365.25)) FROM user_tbl u JOIN crew_member_tbl cm ON u.usercode = cm.usercode WHERE cm.create_crew_code = ${param2}) AS e_n,
        (SELECT position FROM crew_member_tbl WHERE usercode=${param1} AND create_crew_code=${param2}) AS f_n,
        (SELECT COUNT(1) FROM crew_member_tbl WHERE create_crew_code=a.create_crew_code AND usercode=${param1}) AS g_n,
        (SELECT CASE WHEN COUNT(1) > 0 THEN 1 ELSE 0 END FROM crew_history_tbl WHERE create_crew_code=${param2} AND usercode=${param1}  AND flag IN (1, 2)) AS h_n,
        (SELECT COUNT(1) FROM crew_request_tbl WHERE create_crew_code=a.create_crew_code) AS i_n,
        COALESCE(rs.total_score, 0) AS total_score, -- 크루의 총 점수 (없을 시 0)
        COALESCE(rs.crew_rank, 0) AS crew_rank -- 크루의 랭킹 (없을 시 '랭킹 없음')
        FROM
        create_crew_tbl a
        LEFT JOIN
        crew_write b ON a.create_crew_code = b.create_crew_code AND b.is_delete = 0
        LEFT JOIN
        RankedScores rs ON a.create_crew_code = rs.create_crew_code
        WHERE
        a.create_crew_code = ${param2};
    </select>

    <select id="crew_join_select" resultType="int">
        select count(1)
        from   crew_request_tbl
        where  create_crew_code = ${param2}
        and    usercode = ${param1}
        and    status   = 0
    </select>

    <select id="crew_write_code_select" resultType="Integer">
        select crew_write_code
        from  crew_write
        where create_crew_code = ${param1}
        and   is_delete = 0;
    </select>

    <select id="check_delete" resultType="int">
        select is_delete
        from   crew_write
        where  crew_write_code = ${param1}
    </select>

    <select id="getNoticeCode" resultType="int">
        select crew_notice_code
        from   crew_notice_tbl
        where  create_crew_code = ${param1}
        order by writedate  desc
        limit 1
    </select>
    <insert id="saveImage" parameterType="map">
        INSERT INTO img_tbl (
        crew_notice_code
        ,img_name
        ,writedate )
        VALUES (
        ${param1}
        ,'${param2}'
        ,NOW()
        )
    </insert>
    <select id="join_before_select" resultType="int">
        select count(1)
        FROM user_tbl u
        JOIN crew_write cw ON
        (cw.gender = '성별무관' OR
        (cw.gender = '남자' AND u.gender = '남') OR
        (cw.gender = '여자' AND u.gender = '여'))
        WHERE cw.crew_write_code = ${param2}
        AND (
        (cw.age LIKE '%10대%' AND TIMESTAMPDIFF(YEAR, u.birthdate, CURDATE()) BETWEEN 10 AND 19)
        OR
        (cw.age LIKE '%20대%' AND TIMESTAMPDIFF(YEAR, u.birthdate, CURDATE()) BETWEEN 20 AND 29)
        OR
        (cw.age LIKE '%30대%' AND TIMESTAMPDIFF(YEAR, u.birthdate, CURDATE()) BETWEEN 30 AND 39)
        OR
        (cw.age LIKE '%40대%' AND TIMESTAMPDIFF(YEAR, u.birthdate, CURDATE()) BETWEEN 40 AND 49)
        OR
        (cw.age LIKE '%50대%' AND TIMESTAMPDIFF(YEAR, u.birthdate, CURDATE()) BETWEEN 50 AND 59)
        OR
        (cw.age LIKE '%60대%' AND TIMESTAMPDIFF(YEAR, u.birthdate, CURDATE()) >= 60)
        )
        and u.usercode = ${param1};
    </select>
    <insert id="crew_join_write">

        insert into crew_request_tbl
        (
        usercode
        ,create_crew_code
        ,content
        )
        values
        (
        ${param1}
        ,${param2}
        ,'${param3}'
        )
    </insert>

    <delete id="crew_join_delete">
        delete from   crew_request_tbl
        where  create_crew_code = ${param2}
        and    usercode = ${param1}
    </delete>

    <update id="crew_write_delete">
        update crew_write
        set is_delete = 1,
        delete_date = now()
        where crew_write_code = ${param2}
    </update>
    <update id="deleteTeam">
        update create_crew_tbl
        set is_deleted = 1,
        deleted_date = now()
        where create_crew_code = ${param2}
        and usercode = ${param1}
    </update>

    <select id="crew_page_write_detail" resultType="com.ict.finalproject.vo.CrewVO">
        select addr,addr_gu,age,gender,crew_name
        from   create_crew_tbl a
        where  create_crew_code = ${param1};
    </select>
    <select id="crew_write_detail_check" resultType="com.ict.finalproject.vo.CrewVO">
        select teamPhoto,age,gender,content
        from   crew_write a
        where  crew_write_code = ${param1};
    </select>
    <select id="getCrewInfo" resultType="com.ict.finalproject.vo.CrewVO">
        select *
        from   create_crew_tbl a
        where  create_crew_code = ${param1}
    </select>
    <update id="crew_write_update">
        update crew_write
        set    teamPhoto = '${param3}'
        ,age = '${param4}'
        ,gender = '${param5}'
        ,content = '${param6}'
        ,writedate = now()
        where crew_write_code = ${param1}
    </update>
    <update id="updateCrewInfo">
        update create_crew_tbl
        set
        crew_name = '${param3}'
        ,logo = '${param4}'
        ,age = '${param5}'
        ,addr = '${param8}'
        ,addr_gu= '${param9}'
        ,gender= '${param6}'
        ,content= '${param7}'
        ,writedate = now()
        where create_crew_code = ${param1}
    </update>
    <select id="crew_code_select" resultType="int">
        select create_crew_code
        from   create_crew_tbl
        where  usercode = ${param1}
        and   is_deleted = 0
        order by writedate desc
        limit 1
    </select>
    <insert id="crew_member_insert">
        insert into crew_member_tbl
        (
        usercode
        ,create_crew_code
        ,position
        )
        values
        (
        ${param1}
        ,${param2}
        ,${param3}
        )
    </insert>

    <select id="crew_wait_select" resultType="com.ict.finalproject.vo.CrewVO">
        SELECT a.logo,
        a.crew_name,
        b.status AS a_n,
        a.create_crew_code,
        c.crew_write_code,
        b.crew_request_code AS b_n
        FROM   create_crew_tbl a
        JOIN crew_request_tbl b ON a.create_crew_code = b.create_crew_code
        JOIN crew_write c ON a.create_crew_code = c.create_crew_code
        WHERE  b.usercode = ${param1}
        AND    c.is_delete = 0
        ORDER BY b.requested_date DESC;
    </select>

    <select id="crew_wait_detail" resultType="com.ict.finalproject.vo.CrewVO">
        select content, DATE_FORMAT(requested_date, '%m월 %d일 신청') AS writedate, usercode, status as a_n, reason as a_s
        from   crew_request_tbl
        where  usercode = ${param1}
        and    create_crew_code = ${param2}
        and    crew_request_code = ${param3}
        order by requested_date desc
    </select>

    <update id="update14">
        <![CDATA[
        update crew_request_tbl
        set status = 9
        where requested_date <= date_add(now(), interval -14 day);
    ]]>
    </update>

    <select id="crew_manage_member" resultType="com.ict.finalproject.vo.CrewVO">
        select ifnull(a.profile_img,'basicimg.png') as a_s, a.nickname as b_s, b.position as a_n, a.usercode,a.nickname
        ,(select count(1) from crew_member_tbl where create_crew_code = ${param1} and usercode = ${param2}) as b_n
        ,(select count(1)from crew_request_tbl crt where create_crew_code = ${param1} and status=0) as f_n
        from user_tbl a ,crew_member_tbl b
        where b.create_crew_code = ${param1}
        and   a.usercode = b.usercode
        order by position
    </select>

    <select id="crew_app_select" resultType="com.ict.finalproject.vo.CrewVO">
        <![CDATA[
        select a.nickname,
            case
            when timestampdiff(minute, b.requested_date , now()) < 1 then '방금 전'
            when timestampdiff(minute, b.requested_date, now()) < 60 then concat(timestampdiff(minute, b.requested_date, now()), '분 전')
            when timestampdiff(hour, b.requested_date, now()) < 24 then concat(timestampdiff(hour, b.requested_date, now()), '시간 전')
            else concat(timestampdiff(day, b.requested_date, now()), '일 전')
            end as a_s,
            a.gender, c.crew_name, b.crew_request_code as c_n,
            timestampdiff(year, a.birthdate, curdate()) as b_s, a.addr,
            timestampdiff(year, a.birthdate, curdate()) as a_n, b.status as b_n,
            b.usercode, a.profile_img, c.logo  -- 추가된 필드들
           , (select coalesce((select flag from crew_history_tbl where usercode = b.usercode  order by withdrawaldate desc limit 1), 0))as d_n
           , (select coalesce((select DATE_FORMAT(withdrawaldate, '%Y년%m월%d일') from crew_history_tbl where usercode = b.usercode order by withdrawaldate desc   limit 1), ""))as c_s
         from user_tbl a
         join crew_request_tbl b on a.usercode = b.usercode
         join create_crew_tbl c on b.create_crew_code = c.create_crew_code
         where b.create_crew_code = ${param2}
         order by b.requested_date desc
    ]]>
    </select>
    <update id="crew_manage_app">
        update crew_request_tbl
        set    status = ${param3},
        reason = '${param4}'
        where  usercode = ${param1}
        and    create_crew_code  = ${param2}
        and    crew_request_code = ${param5}
    </update>
    <insert id="crew_member_insert2">
        insert into crew_member_tbl
        (
        usercode
        ,create_crew_code
        ,position
        )
        values
        (
        ${param1}
        ,${param2}
        ,3
        )
    </insert>

    <select id="crew_member_check" resultType="int">
        select count(1)
        from   crew_member_tbl
        where  usercode = ${param1}
        and    create_crew_code = ${param2}
        and    position in (1,2,3)
    </select>

    <update id="crew_member_upgrade">
        update crew_member_tbl
        set    position = 2
        where  usercode = ${param1}
        and    create_crew_code = ${param2}
    </update>

    <update id="crew_member_downgrade">
        update crew_member_tbl
        set    position = 3
        where  usercode = ${param1}
        and    create_crew_code = ${param2}
    </update>

    <insert id="crew_member_report">
        insert into report_tbl
        (
        offender_code
        ,victim_code
        ,report_reason
        ,report_content
        ,crew_history_code
        )
        values
        (
        ${param1}
        ,${param2}
        ,'${param3}'
        ,'${param4}'
        ,(select crew_history_code from crew_history_tbl
        where usercode = ${param1}
        and create_crew_code =  ${param5}
        order by withdrawaldate desc limit 1)
        )
    </insert>
    <delete id="crew_member_out">
        delete from crew_member_tbl
        where  usercode = ${param1}
        and    create_crew_code = ${param2}
    </delete>

    <insert id="crew_history_insert">
        insert into crew_history_tbl
        (
        usercode
        ,create_crew_code
        ,flag
        ,withdrawaldate
        )
        values
        (
        ${param1}
        ,${param2}
        ,${param3}
        ,now()
        );
    </insert>
    <insert id="vote_create">
        insert into vote_tbl
        (
        usercode
        ,create_crew_code
        ,subject
        ,enddate
        ,opt1
        ,opt2
        ,opt3
        ,opt4
        ,opt5
        )
        values
        (
        ${param1}
        ,${param2}
        ,'${param3}'
        ,'${param4}'
        ,'${param5}'
        ,'${param6}'
        ,'${param7}'
        ,'${param8}'
        ,'${param9}'
        );
    </insert>

    <select id="crew_manage_overview" resultType="com.ict.finalproject.vo.CrewVO">
        <![CDATA[
     (
         select 0 as a_n,
                a.profile_img as subject,
                a.nickname as writedate,
                a.usercode as b_n,
                (select count(1)
                 from crew_member_tbl
                 where create_crew_code = ${param1}) as c_n
         from user_tbl a, crew_member_tbl b
         where  a.usercode = b.usercode
         and b.create_crew_code = ${param1}
         limit 5
     )
     union all
     (
         select 1 as a_n, subject, creationdate as writedate,
                case when enddate < now() then 9 else 1 end as b_n, vote_code as c_n
         from vote_tbl
         where create_crew_code = ${param1}
         limit 100
     )
     union all
     (
         select 2 as a_n, subject, DATE_FORMAT(writedate, '%Y-%m-%d %H:%i') AS writedate, 0 as b_n, crew_notice_code as c_n
         from crew_notice_tbl
         where create_crew_code = ${param1}
         limit 100
     )
     order by writedate desc
     ]]>
    </select>


    <select id="crew_manage_notice" resultType="com.ict.finalproject.vo.CrewVO">
        <![CDATA[
    (
        select 1 as a_n, subject, a.enddate as enddate_raw, DATE_FORMAT(a.enddate, '%Y년 %c월 %e일 (%a) %p %h:%i시') as enddate,
               1 as b_n, a.vote_code as c_n,
               (select count(1) from voter_tbl where vote_code=a.vote_code) as d_n,
               (select count(1) from voter_tbl where vote_code=a.vote_code and usercode=${param2}) as e_n,
               NULL as content, a.usercode
        from vote_tbl a
        where create_crew_code = ${param1}
        and enddate > now()
    )
    union all
    (
        select 3 as a_n, a.subject, a.enddate as enddate_raw, DATE_FORMAT(a.enddate, '%Y년 %c월 %e일 (%a) %p %h:%i시') as enddate,
               9 as b_n, a.vote_code as c_n,
               (select count(1) from voter_tbl where vote_code=a.vote_code) as d_n,
               (select count(1) from voter_tbl where vote_code=a.vote_code and usercode=${param2}) as e_n,
               NULL as content, a.usercode
        from vote_tbl a
        where create_crew_code = ${param1}
        and enddate < now()
    )
    union all
    (
        select 2 as a_n, subject, writedate as enddate_raw, DATE_FORMAT(writedate, '%m월 %d일 %p %h:%i') as enddate,
               0 as b_n, crew_notice_code as c_n, NULL as d_n, 99999 as e_n,
               content, usercode
        from crew_notice_tbl
        where create_crew_code = ${param1}
    )
    ]]>
        order by
        case when a_n = 1 then 1
        when a_n = 3 then 2
        when a_n = 2 then 3
        end,
        case when a_n = 1 then enddate_raw end asc,
        case when a_n = 3 then enddate_raw end desc,
        case when a_n = 2 then enddate_raw end desc
    </select>
    <select id="vote_select" resultType="com.ict.finalproject.vo.CrewVO">
        select
        a.subject,a.usercode,
        DATE_FORMAT(a.enddate, '%m월 %d일 %p %h:%i') as enddate,
        (select selected_option from voter_tbl where vote_code= ${param2} and usercode = ${param1}) as f_s,
        a.opt1,
        (select group_concat(b.nickname separator ', ')
        from voter_tbl v, user_tbl b
        where v.usercode = b.usercode
        and v.vote_code = a.vote_code
        and v.selected_option = a.opt1) as a_s,  -- opt1에 투표한 사람들
        a.opt2,
        (select group_concat(b.nickname separator ', ')
        from voter_tbl v, user_tbl b
        where v.usercode = b.usercode
        and v.vote_code = a.vote_code
        and v.selected_option = a.opt2) as b_s,  -- opt2에 투표한 사람들
        a.opt3,
        (select group_concat(b.nickname separator ', ')
        from voter_tbl v, user_tbl b
        where v.usercode = b.usercode
        and v.vote_code = a.vote_code
        and v.selected_option = a.opt3) as c_s,  -- opt3에 투표한 사람들
        a.opt4,
        (select group_concat(b.nickname separator ', ')
        from voter_tbl v, user_tbl b
        where v.usercode = b.usercode
        and v.vote_code = a.vote_code
        and v.selected_option = a.opt4) as d_s,  -- opt4에 투표한 사람들
        a.opt5,
        (select group_concat(b.nickname separator ', ')
        from voter_tbl v, user_tbl b
        where v.usercode = b.usercode
        and v.vote_code = a.vote_code
        and v.selected_option = a.opt5) as e_s  -- opt5에 투표한 사람들
        ,(select count(1) from voter_tbl where vote_code = ${param2}) as a_n
        from vote_tbl a
        where a.vote_code = ${param2}
    </select>

    <select id="vote_chek" resultType="int">
        select count(1)
        from  voter_tbl
        where vote_code =${param2}
        and   usercode =${param1}
    </select>

    <insert id="vote_insert">
        insert into voter_tbl
        (
        usercode
        ,vote_code
        ,selected_option
        )
        values
        (
        ${param1}
        ,${param2}
        ,'${param3}'
        )

    </insert>

    <select id="getCrewList" resultType="com.ict.finalproject.vo.CrewVO">
        SELECT create_crew_code, crew_name, logo
        FROM create_crew_tbl;
    </select>

    <select id="resign_select" resultType="int">
        SELECT count(1)
        FROM crew_member_tbl
        where create_crew_code=${param1}
    </select>

    <select id="vote_member_chek" resultType="int">
        SELECT count(1)
        FROM voter_tbl
        where vote_code =${param1}
        and   usercode !=${param2}
    </select>

    <update id="vote_update">
        update vote_tbl
        set
        subject = '${param2}'
        ,enddate = '${param3}'
        ,opt1    = '${param4}'
        ,opt2    = '${param5}'
        ,opt3    = '${param6}'
        ,opt4    = '${param7}'
        ,opt5    = '${param8}'
        ,creationdate =now()
        ,usercode = ${param9}
        where    vote_code = ${param1}
    </update>

    <delete id="vote_delete">
        delete
        from vote_tbl
        where vote_code = ${param1}
    </delete>

    <delete id="voter_delete">
        delete
        from voter_tbl
        where vote_code = ${param1}
    </delete>

    <update id="notice_hits_add">
        update crew_notice_tbl
        set    hits = hits+1
        where  crew_notice_code = ${param1}
    </update>

    <select id="notice_detail" resultType="com.ict.finalproject.vo.CrewVO">
        select subject,content, DATE_FORMAT(updated_date, '%Y-%m-%d %H:%i') as updated_date, hits as a_n, crew_notice_code as b_n ,usercode
        ,(select nickname from user_tbl where usercode=a.usercode) as nickname
        from   crew_notice_tbl a
        where  crew_notice_code = ${param1}
    </select>

    <select id="notice_detail_img" resultType="String">
        SELECT img_name FROM img_tbl WHERE crew_notice_code = ${param1}
    </select>
    <delete id="img_delete">
        DELETE FROM img_tbl
        WHERE  crew_notice_code = ${param1}
        and    img_name = '${param2}'
    </delete>
    <insert id="upload_images">
        insert into img_tbl
        (
        crew_notice_code
        ,img_name
        )
        values
        (
        ${param1}
        ,'${param2}'
        )
    </insert>
    <update id="update_notice">
        update crew_notice_tbl
        set subject = '${param2}'
        ,content = '${param3}'
        ,usercode = ${param4}
        ,updated_date = now()
        ,is_updated = 1
        where crew_notice_code = ${param1}
    </update>
    <delete id="delete_notice">
        delete from crew_notice_tbl
        where crew_notice_code = ${param1}
    </delete>

    <delete id="delete_notice_img">
        delete from img_tbl
        where crew_notice_code = ${param1}
    </delete>
    <select id="position_select" resultType="int">
        select ifnull(position, 0)
        from crew_member_tbl
        where create_crew_code = ${param2}
        and usercode = ${param1}
        union all
        select 0
        where not exists (
        select 1
        from crew_member_tbl
        where create_crew_code = ${param2}
        and usercode = ${param1}
        )
        limit 1;
    </select>
    <update id="entrust1">
        update create_crew_tbl
        set  usercode = ${param1}
        where  create_crew_code = ${param2}
    </update>
    <update id="entrust2">
        update crew_member_tbl
        set
        position = 2
        ,updatedate = now()
        where  create_crew_code = ${param2}
        and    usercode = ${param1}
    </update>

    <update id="entrust3">
        update crew_member_tbl
        set
        position = 1
        ,updatedate = now()
        where  create_crew_code = ${param2}
        and    usercode = ${param1}
    </update>
    <insert id="entrust4">
        insert into crew_history_tbl
        (
        usercode
        ,create_crew_code
        ,flag
        ,withdrawaldate
        )
        values
        (
        ${param1}
        ,${param2}
        , 4
        ,now()
        );
    </insert>
    <update id="entrust5">
        update crew_write
        set
        usercode = ${param1}
        where  create_crew_code = ${param2}
    </update>

</mapper>