<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.dao.OrderDAO">
    <insert id="insertOrder" parameterType="com.ict.finalproject.vo.OrderVO">
        INSERT INTO order_tbl (total_amount, real_amount, order_status, created_date, payment_method, payment_status, quantity, price, cart_code, reservation_code)
        VALUES (#{total_amount}, #{real_amount}, #{order_status}, #{created_date}, #{payment_method}, #{payment_status}, #{quantity}, #{price}, #{cart_code}, #{reservation_code})
    </insert>
    <select id="getOrderHistoryByUsername" parameterType="String" resultType="com.ict.finalproject.vo.OrderVO">
        SELECT * FROM order_tbl WHERE usercode IN (
        SELECT usercode FROM user_tbl WHERE username = #{username}
        )
    </select>
    <select id="getMarathonByCode" parameterType="int" resultType="com.ict.finalproject.vo.MarathonListVO">
        SELECT * FROM Marathon_list_tbl WHERE marathon_code = #{marathon_code}
    </select>
</mapper>
