<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.dao.OrderDAO">
    <select id="selectCvo" parameterType="list" resultType="CartVO">
        SELECT c.*, m.marathon_name as marathon_name, m.poster_img as poster_img
        FROM cart_tbl c
        JOIN marathon_list_tbl m ON c.marathon_code = m.marathon_code
        WHERE c.cart_code IN
        <foreach item="cartCode" collection="list" open="(" separator="," close=")">
            #{cartCode}
        </foreach>
    </select>
    <insert id="SetOrder" parameterType="list">
        INSERT INTO order_tbl (
        total_amount, quantity, price, cart_code, usercode, marathon_code
        )
        VALUES
        <foreach collection="list" item="cart" separator="," >
           ( (#{cart.price} * #{cart.quantity}),  <!-- 연산을 SQL 내에서 처리 -->
            #{cart.quantity},
            #{cart.price},
            #{cart.cart_code},
            #{cart.usercode},
            #{cart.marathon_code})
        </foreach>
    </insert>
    <select id="selectOvo" parameterType="list" resultType="int">
        SELECT cart_code
        FROM (
        <foreach collection="list" item="cartCode" separator=" UNION ALL ">
            SELECT #{cartCode} AS cart_code
        </foreach>
        ) AS codes
        WHERE cart_code NOT IN (
        SELECT cart_code
        FROM order_tbl
        )
    </select>
    <update id="updateOrder" parameterType="com.ict.finalproject.vo.CartVO">
        UPDATE order_tbl
        SET total_amount = (#{price} * #{quantity}),
        quantity = #{quantity},
        price = #{price},
        marathon_code = #{marathon_code}
        WHERE cart_code = #{cart_code}
        AND usercode = #{usercode}
    </update>


    <select id="getMyPoint" resultType="com.ict.finalproject.vo.PointVO">
        SELECT
        p.point_code as point_code,
        p.usercode as usercode,
        p.mypoint as mypoint,
        pc.point_change_code as point_change_code,
        pc.point_change as point_change
        FROM
        point_tbl p
        JOIN
        point_change_tbl pc ON p.point_code = pc.point_code
        WHERE
        p.usercode = #{usercode}
    </select>
    <select id="selectMyForm" resultType="com.ict.finalproject.vo.MarathonFormVO">
        select * from marathon_form_tbl where usercode =#{param1}
    </select>


</mapper>
