<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.dao.LoginDAO">
    <insert id="addToken">
        insert into tokentbl (usercode,refresh_no,deleted_date)
        select(
            select usercode from user_tbl where username= #{param2}),
            #{param1},
            date_add(now(),interval 30 day)
    </insert>

</mapper>
